Alex Alexander <wired@gentoo.org> <wired@gentoo.org>
Alex Alexander <wired@gentoo.org> <wired@cloud.skynet>
Alex Alexander <wired@gentoo.org> <alex.alexander@gmail.com>
Alexey Shvetsov <alexxy@gentoo.org> <alexxy@gentoo.ru>
Andreas K. Hüettel <dilfridge@gentoo.org> <dilfridge@gentoo.org>
Andreas K. Hüettel <dilfridge@gentoo.org> <mail@akhuettel.de>
Andreas K. Hüettel <dilfridge@gentoo.org> <andreas.huettel@physik.uni-r.de>
Andreas K. Hüettel <dilfridge@gentoo.org> <huettel@bellini.(none)>
Ben de Groot <yngwin@gentoo.org> <yngwin@gentoo.org>
Chris Reffett <creffett@gentoo.org> <geekboy72@gmail.com>
Cyrill Helg <bugs@phlogi.net> <root@phlogsthink.linux.home>
David Heidelberger <david.heidelberger@ixit.cz> <d.okias@gmail.com>
Dror Levin <spatz@gentoo.org> <spatz@psybear.com>
Fabio Erculiani <lxnay@gentoo.org> <lxnay@sabayon.org>
Fabio Erculiani <lxnay@gentoo.org> <lxnay@sabayonlinux.org>
Ian Delaney <idell5@iinet.com.au> <della5@iinet.com.au>
Johannes Huber <johu@gentoo.org> <johu@gmx.de>
Jonathan Callen <jcallen@gentoo.org> <en.ABCD@gmail.com>
Jonathan Callen <jcallen@gentoo.org> <abcd@gentoo.org>
Jorge Manuel B. S. Vicetto <jmbsvicetto@gentoo.org>
Maciej Mrozowski <reavertm@gentoo.org> <reavertm@poczta.fm>
Maciej Mrozowski <reavertm@gentoo.org> <reavertm@gmail.com>
Manuel Nickschas <sputnick@quassel-irc.org> <root@neutron.nickschas.com>
Manuel Rüger <mrueg@gentoo.org> <gentoo@rueg.eu>
Marc Schiffbauer <mschiff@gentoo.org> <marc@schiffbauer.net>
Marcus D. Hanwell <cryos@gentoo.org> <marcus@cryos.org>
Markos Chandras <hwoarang@gentoo.org> <hwoarang@silverarrow.gr>
Michael Palimaka <kensington@gentoo.org> <kensington@astralcloak.net>
Patrick Lauer <patrick@gentoo.org> <bugs@dev.gentooexperimental.org>
Patrick Lauer <patrick@gentoo.org> <patrick.lauer@star-group.net>
Pavlos Ratis <dastergon@gentoo.org> <dastergon@gmail.com>
Robert Piasek <dagger@gentoo.org> <robert@piasek.co.uk>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@gentoo.org>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@gmail.com>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@graffiti.(none)>
Tomáš Chvátal <scarabeus@gentoo.org> <scarabeus@gentoo.org>
Tomáš Chvátal <scarabeus@gentoo.org> <tomas.chvatal@gmail.com>
Tomáš Chvátal <scarabeus@gentoo.org> <tchvatal@suse.cz>
Tomáš Chvátal <scarabeus@gentoo.org> <scarab@ugly-elf.(none)>
Unknown <root@localhost> <layman@localhost>
Unknown <root@localhost> <root@archtester.homenetwork>
Unknown <root@localhost> <root@neutron.nickschas.com>
Unknown <root@localhost> <root@orion8.(none)>
Unknown <root@localhost> <root@orion8.fritz.box>
Unknown <root@localhost> <root@ronan-notebook.(none)>
Unknown <root@localhost> <root@tux.(none)>
Vadim A. Misbakh-Soloviev <mva@mva.name> <mva@mva.name>
