Alex Alexander <wired@gentoo.org> <wired@gentoo.org>
Alex Alexander <wired@gentoo.org> <wired@cloud.skynet>
Alex Alexander <wired@gentoo.org> <alex.alexander@gmail.com>
Alex Fan <alex.fan.q@gmail.com> <alexfanqi@yahoo.com>
Alexey Shvetsov <alexxy@gentoo.org> <alexxy@gentoo.ru>
Andreas K. Hüttel <dilfridge@gentoo.org> <dilfridge@gentoo.org>
Andreas K. Hüttel <dilfridge@gentoo.org> <mail@akhuettel.de>
Andreas K. Hüttel <dilfridge@gentoo.org> <andreas.huettel@physik.uni-r.de>
Andreas K. Hüttel <dilfridge@gentoo.org> <huettel@bellini.(none)>
Andreas Sturmlechner <asturm@gentoo.org> <andreas.sturmlechner@gmail.com>
Nowa Ammerlaan <nowa@gentoo.org> <andrewammerlaan@gentoo.org>
Arfrever Frehtes Taifersar Arahesis <arfrever.fta@gmail.com>  <Arfrever@Apache.Org>
Ben de Groot <yngwin@gentoo.org> <yngwin@gentoo.org>
Chris Reffett <creffett@gentoo.org> <geekboy72@gmail.com>
Cyrill Helg <bugs@phlogi.net> <root@phlogsthink.linux.home>
David Heidelberger <david.heidelberger@ixit.cz> <d.okias@gmail.com>
David E. Narváez <david.narvaez@computer.org> <david.narvaez@computer.org>
Dror Levin <spatz@gentoo.org> <spatz@psybear.com>
Eli Schwartz <eschwartz@gentoo.org> <eschwartz93@gmail.com>
Fabio Erculiani <lxnay@gentoo.org> <lxnay@sabayon.org>
Fabio Erculiani <lxnay@gentoo.org> <lxnay@sabayonlinux.org>
Francesco Turco <fturco@fastmail.fm> <mail@fturco.net>
Ian Delaney <idell5@iinet.com.au> <della5@iinet.com.au>
Ionen Wolkens <ionen@gentoo.org> <sudinave@gmail.com>
Jan Kundrát <jkt@kde.org> <jkt@flaska.net>
Jason A. Donenfeld <zx2c4@gentoo.org> <Jason@zx2c4.com>
Johannes Huber <johu@gentoo.org> <johu@gmx.de>
Jonathan Callen <jcallen@gentoo.org> <en.ABCD@gmail.com>
Jonathan Callen <jcallen@gentoo.org> <abcd@gentoo.org>
Jorge Manuel B. S. Vicetto <jmbsvicetto@gentoo.org>
Lorenzo Porta <vindex17@outlook.it> <Vindex17@users.noreply.github.com>
Maciej Mrozowski <reavertm@gentoo.org> <reavertm@poczta.fm>
Maciej Mrozowski <reavertm@gentoo.org> <reavertm@gmail.com>
Manuel Nickschas <sputnick@quassel-irc.org> <root@neutron.nickschas.com>
Manuel Rüger <mrueg@gentoo.org> <gentoo@rueg.eu>
Manuel Rüger <mrueg@gentoo.org> <manuel@rueg.eu>
Manuel Rüger <mrueg@gentoo.org> <mrueg@rueg.eu>
Marc Schiffbauer <mschiff@gentoo.org> <marc@schiffbauer.net>
Marcus D. Hanwell <cryos@gentoo.org> <marcus@cryos.org>
Markos Chandras <hwoarang@gentoo.org> <hwoarang@silverarrow.gr>
Michael Mair-Keimberger <mmk@levelnine.at> <m.mairkeimberger@gmail.com>
Michael Palimaka <kensington@gentoo.org> <kensington@gentoo.org>
Michael Palimaka <kensington@gentoo.org> <kensington@astralcloak.net>
Mike Frysinger <vapier@gentoo.org> <vapier@chromium.org>
Patrick Lauer <patrick@gentoo.org> <bugs@dev.gentooexperimental.org>
Patrick Lauer <patrick@gentoo.org> <patrick.lauer@star-group.net>
Paul Zander <negril.nx+gentoo@gmail.com> <negril.nx@gmail.com>
Pavlos Ratis <dastergon@gentoo.org> <dastergon@gmail.com>
Petros S (Petross404) <petross404@gmail.com>
Petros S <petross404@gmail.com>
Robert Piasek <dagger@gentoo.org> <robert@piasek.co.uk>
Sven Eden <sven.eden@gmx.de> <yamakuzure@gmx.net>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@gentoo.org>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@gmail.com>
Theo Chatzimichos <tampakrap@gentoo.org> <tampakrap@graffiti.(none)>
Tomáš Chvátal <scarabeus@gentoo.org> <scarabeus@gentoo.org>
Tomáš Chvátal <scarabeus@gentoo.org> <tomas.chvatal@gmail.com>
Tomáš Chvátal <scarabeus@gentoo.org> <tchvatal@suse.cz>
Tomáš Chvátal <scarabeus@gentoo.org> <scarab@ugly-elf.(none)>
Unknown <root@localhost> <layman@localhost>
Unknown <root@localhost> <root@archtester.homenetwork>
Unknown <root@localhost> <root@neutron.nickschas.com>
Unknown <root@localhost> <root@orion8.(none)>
Unknown <root@localhost> <root@orion8.fritz.box>
Unknown <root@localhost> <root@ronan-notebook.(none)>
Unknown <root@localhost> <root@tux.(none)>
Vadim A. Misbakh-Soloviev <mva@mva.name> <mva@mva.name>
Vadim A. Misbakh-Soloviev <mva@mva.name> <git@mva.name>
Vladimir Smirnov <civil.over@gmail.com> <civil.over@gmail.com>
